@using DatingWebApp.Models
@model  ProfileIndexViewModel
@if (Request.IsAuthenticated) //Eller @User.Identity.IsAuthenticated, vet inte vilken som ska vara 
{
    <table>
        @foreach (var profile in Model.Profiles)
        {
            <tr>
                <td>@profile.Firstname</td>
                <td>@profile.Lastname</td>
                <td>@profile.Birthdate</td>
                <td>@profile.Biography</td>
                <td>@profile.Image</td>
            </tr>
        }
    </table>
    <hr />

    @Html.Partial("EditProfile", new Profile())
}
else
{
    <h4>You need to log in!</h4>
}